@media screen and (max-width: 1500px){
    #main{
        position: relative !important;
        top: 10vh !important;
    } 
}

@media screen and (max-width: 1340px){
    #main{
        position: relative !important;
        top: 20vh !important;
    } 
}

@media screen and (max-width: 1135px){
    #main{
        position: relative !important;
        top: 30vh !important;
    } 
}

@media screen and (max-width: 750px){
    #main{
        position: relative !important;
        top: 35vh !important;
    } 
}

@media screen and (max-width: 580px){
    #main{
        position: relative !important;
        top: 40vh !important;
    } 
}

main {
    margin-bottom:100vh;
}