<div class="row text-center">
    <div class="col-xs-9 col-sm-12 col-xl-12 col-md-12 col-lg-12 offset-md-2 offset-sm-2 offset-lg-2 col-12">
        <h3>{{pageTitle}}</h3>
        <hr>
        <flash-messages></flash-messages>
        <!--La propiedad "formGroup" asocia este formulario con una propiedad del componente. En el evento
        submit le pasamos los valores de los campos-->
        <form [formGroup]="form" class="col-md-3 ml-0 pl-0 mx-auto">
            <label for="nick">Nombre de usuario:</label>
            <!--El valor del atributo "formControlName" sirva para identificarlo Angular-->
            <input type="text" name="nick" id="nick" formControlName="nick" 
                class="form-control text-center">
            <span *ngIf="checkTouched(form.get('nick'))" class="invalid-feedback d-block">
                {{wrongValidationMessage(form.get('nick'), 'nombre de usuario')}}
            </span>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" formControlName="email" 
                class="form-control text-center" placeholder="ejemplo@ejemplo.ejemplo">
            <span *ngIf="checkTouched(form.get('email'))" class="invalid-feedback d-block">
                {{wrongValidationMessage(form.get('email'), 'email')}}
            </span>
            <file-uploader></file-uploader> 
            <!--La propiedad disabled permite poner una condición, por lo que el botón se desactivará si 
            el formulario no es válido-->
            <input type="button" value="Modificar datos" (click)="updateUser()" [disabled]="!form.valid" 
                class="btn btn-success mt-1">        
        </form>
    </div>
</div>
