<!--Una fila con 2 columnas-->
<div id="panel" class="row mt-5">
    <!--Menú lateral izquierdo-->
    <div class="col-sm-5 col-xl-3 col-md-4 col-12 pb-4">
        <h3>{{pageTitle}}</h3>
        <hr>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <!--routerLinkActive pone una clase al elemento cuando se ha visitado la ruta-->
            <a *ngIf="user.roles[0]!='ROLE_READER'" class="nav-link" routerLink="my-posts" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Mis posts</a>
            <a *ngIf="user.roles[0]=='ROLE_ADMIN'" class="nav-link" routerLink="category-list" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Lista de categorías</a>
            <a class="nav-link" routerLink="my-comments" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Mis comentarios</a>
            <a *ngIf="user.roles[0]=='ROLE_ADMIN'||user.roles[0]=='ROLE_WRITER'" class="nav-link" routerLink="create-post" routerLinkActive="active" id="v-pills-profile-tab" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false">Crear post</a>
            <a *ngIf="user.roles[0]=='ROLE_ADMIN'" class="nav-link" routerLink="create-category" routerLinkActive="active" id="v-pills-profile-tab" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false">Crear categoría</a>
            <a *ngIf="user.roles[0]=='ROLE_ADMIN'" class="nav-link" routerLink="update-role" routerLinkActive="active" id="v-pills-profile-tab" data-toggle="pill" role="tab" aria-controls="v-pills-profile" aria-selected="false">Modificar rol de un usuario</a>
            <div *ngIf="user.roles[0]=='ROLE_ADMIN'">
                <a class="nav-link" routerLink="inadequate/posts" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Posts inadecuados</a>
                <a class="nav-link" routerLink="inadequate/comments" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Comentarios inadecuados</a>
                <a class="nav-link" routerLink="users-to-ban" routerLinkActive="active" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true">Usuarios para banear</a>
            </div>
            <a class="nav-link" routerLink="user-settings" routerLinkActive="active" id="v-pills-settings-tab" data-toggle="pill" role="tab" aria-controls="v-pills-settings" aria-selected="false">Ajustes del usuario</a>
        </div>
    <!--Fin del menú-->
    </div>
    <!--Parte derecha-->
    <div class="container-fluid col-lg-8 col-md-6 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-1 mx-auto">
        <router-outlet></router-outlet>   
    <!--Fin de la parte derecha-->
    </div>
<!--Fin de la fila-->
</div>