<div id="row">
    <h1 class="text-center">Política de cookies</h1>
    <p>
        Las cookies son pequeñas cantidades de información que se almacenan en el navegador 
        utilizado por cada usuario para que el servidor o la misma aplicación recuerde cierta 
        información que posteriormente pueda utilizar.
    </p>
    <h3 class="text-center">Tipos de cookies que utilizamos</h3>
    <p>
        Esta aplicación utiliza cookies propias.
        En este caso las cookies son utilizadas con fines de persistencia del usuario y apariencia 
        de la aplicación, quedando aceptado su uso al navegar por ella.
    </p>
    <div class="table-responsive">
        <table class="table table-hover w-50 text-center mx-auto">
            <th>Nombre</th>
            <th>Duración</th>
            <th>Descripción</th>
            <tr *ngFor="let cookiePolicy of cookiesPolicies">
                <td>{{cookiePolicy.name}}</td>
                <td>{{cookiePolicy.duration}}</td>
                <td>{{cookiePolicy.description}}</td>
            </tr>        
        </table>
    </div>
</div>