.profileImage {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

div:first-of-type{
    margin-top: 8% !important;
}

#fila{
    position: relative !important;
    top: -25px !important;
}

#banned{
    margin-top: 8% !important;
}