<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">El rincón de la programación</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/']">Inicio<span class="sr-only"></span></a>
            </li>
            <!--Lista desplegable-->
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorias
                </a>
                <div class="dropdown-menu pr-5 mr-5 w-25" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/posts/categories', 'category.id']">JavaScript</a>        
                </div>
            <!--Fin de lista desplegable-->
            </li>
            <li class="nav-item active">
                <a class="nav-link active" [routerLink]="['/users']">Comunidad</a>
            </li>
            <li *ngIf="user" class="nav-item">
                <a class="nav-link active" [routerLink]="['/user-panel']">Panel de usuario</a>
            </li>
            <!--Buscador-->
            <li class="nav-item ml-5">
                <form [formGroup]="form" class="d-flex form-inline ml-sm-10 my-2 my-lg-0 ml-5">
                    <input type="search" formControlName="postsSearchText" class="form-control" 
                        placeholder="Busca un post" aria-label="Search">
                    <input type="button" (click)="searchPosts(form.get('postsSearchText')?.value)" 
                        value="Buscar post" class="btn btn-outline-success my-2 my-sm-0">
                    <span *ngIf="checkTouched(form.get('postsSearchText'))" 
                        class="invalid-feedback d-block">
                        {{wrongValidationMessage(form.get('postsSearchText'), 'búsqueda')}}
                    </span>
                </form>
            <!--Fin del buscador-->
            </li>
        </ul>   
        <ul class="navbar-nav navbar-right ml-auto pr-5 mr-5">
            <li *ngIf="user" class="nav-item">
                <img [src]="profileImage" alt="Imagen de perfil" class="profileImage">
            </li>
            <!--Lista desplegable-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span *ngIf="user">{{user.nick}}</span>
                </a>
                <div class="dropdown-menu pr-5 mr-5 w-25" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/panel']">Panel de usuario</a>
                    <a class="dropdown-item" [routerLink]="['/user-profile', user.id]">
                        Mi perfil
                    </a>
                    <div class="dropdown-divider"></div>
                    <a id="logout" class="dropdown-item" (click)="logout()">Cerrar sesión</a>
                </div>
            <!--Fin lista desplegable-->
            </li>
        </ul>
        <ul *ngIf="!user" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/register']">Registro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/login']">Login</a>
            </li>
        </ul> 
    </div>
</nav>