<div *ngIf="loading" class="text-center mt-5">
    <!--Si terminó de cargar y no hay posts-->
    <h5 *ngIf="noPosts">No tienes posts</h5>
    <button *ngIf="!noPosts" class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Cargando...
    </button>
</div>
<!--Si hay posts-->
<table *ngIf="!noPosts" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="table-responsive mt-5 table table-hover text-center">
    <thead>
        <tr>
            <th>Título</th>
            <th>Categoría</th>
            <th>Imagen</th>
            <th>Fecha de creación</th>
            <th>Fecha de modificación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td><a [routerLink]="['/posts', post.title]">{{post.title}}</a></td>
            <!--Si la categoría se borró-->
            <td>{{!post.category?'Categoría borrada':post.category.name}}</td>
            <td>
                <!--Si hay imagen-->
                <img *ngIf="post.image" [src]="imageUrl+post.image" alt="Imagen del post" class="w-50">
                <img *ngIf="!post.image" src="../../../../../../../assets/images/no-post-image.jpg"
                    alt="Imagen del post" class="w-50">
            </td>
            <td>{{post.createdAt|amLocale:'es'|amCalendar}}</td>
            <td>{{post.updatedAt|amLocale:'es'|amCalendar}}</td>
            <td>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-sm-8 col-lg-6">
                        <a [routerLink]="['/post', post.title]" class="btn btn-success w-100 d-flex align-items-center">
                            <img src="../../../../../../../assets/images/watch-icon.png" class="w-50"
                                alt="Imagen de ver post">Ver
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-6 col-sm-8 col-lg-6">
                        <!--Aunque hemos puesto antes rutas hijas, en el routerLink debemos poner la 
                            ruta padre junto a la hija-->
                        <a [routerLink]="['/user-panel/edit-post', post.title]"
                            class="btn btn-warning w-100 d-flex align-items-center">
                            <img src="../../../../../../../assets/images/edit-icon.png" class="w-50"
                                alt="Imagen de editar post">
                            Editar
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-6 col-sm-8 col-lg-6 col-xl-12 mt-2">
                        <!-- Botón que abre el modal, la directiva "attr.data-target" es para
                        llamar a un elemento HTML con ese id y además almacena un dato-->
                        <button type="button" class="btn btn-danger w-75 d-flex justify-content-center mx-auto"
                            data-toggle="modal" [attr.data-target]="'#delete'+post.id">
                            <img src="../../../../../../../assets/images/delete-icon.png" class="w-25"
                                alt="Imagen de borrar post">
                            Borrar
                        </button>
                        <!-- Modal, el id irá sin # y con el id del post-->
                        <div id="{{'delete'+post.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">
                                            ¿Quieres borrar el post {{post.title}}?
                                        </h4>
                                        <button type="button" class="close" data-dismiss="modal">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Vas a borrar definitivamente el post {{post.title}}
                                    </div>
                                    <div class="modal-footer">
                                        <!--Para cerrar el modal cuando pulsemos hay que ponerle 
                                        el atributo "data-dismiss"-->
                                        <button (click)="deletePost(post.id)" data-dismiss="modal"
                                            class="btn btn-danger">
                                            Borrar
                                        </button>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">
                                            Cerrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        <!--Fin del modal-->
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>