<div id="register" class="col-md-12 mt-5 text-center">
    <h1>{{pageTitle}}</h1>
    <hr>
    <h6 *ngIf="goodRegister" class="alert alert-success col-md-4 mt-3 mx-auto">
        Te has registrado correctamente, inicia sesión <a [routerLink]="['/login']">aquí</a>
    </h6>
    <flash-messages></flash-messages>
    <!--La propiedad "formGroup" asocia este formulario con una propiedad del componente. En el evento
    submit le pasamos los valores de los campos-->
    <form [formGroup]="form" class="col-md-3 ml-0 pl-0 mx-auto">
        <label for="nick">Nombre de usuario:</label>
        <!--El valor del atributo "formControlName" sirva para identificarlo Angular-->
        <input type="text" name="nick" id="nick" formControlName="nick" class="form-control text-center">
        <span *ngIf="checkTouched(form.get('nick'))" class="invalid-feedback d-block">
            {{wrongValidationMessage(form.get('nick'), 'nombre de usuario')}}
        </span>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" formControlName="email"
            class="form-control text-center" placeholder="ejemplo@ejemplo.ejemplo">
        <span *ngIf="checkTouched(form.get('email'))" class="invalid-feedback d-block">
            {{wrongValidationMessage(form.get('email'), 'email')}}
        </span>
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password" formControlName="password"
            class="form-control text-center">
        <span *ngIf="checkTouched(form.get('password'))" class="invalid-feedback d-block">
            {{wrongValidationMessage(form.get('password'), 'contraseña')}}
        </span>
        <br>
        <select formControlName="role" name="role" id="role" class="form-control mb-4 w-50 mx-auto">
            <option hidden value="">Selecciona un rol</option>
            <option *ngFor="let rol of roles" [value]="rol">
                {{rol=='ROLE_WRITER'?'Redactor':'Lector'}}
            </option>
        </select>
        <span *ngIf="checkTouched(form.get('role'))" class="invalid-feedback d-block">
            {{wrongValidationMessage(form.get('role'), 'rol')}}
        </span>
        <!--La propiedad disabled permite poner una condición, por lo que el botón se desactivará si el
        formulario no es válido-->
        <input type="button" value="Crear cuenta" (click)="register()" [disabled]="!form.valid" 
            class="btn btn-success">
    </form>
</div>
