<h3 class="text-center">Lista de categorías</h3>
<hr>
<div *ngIf="loading" class="text-center mt-5">
    <!--Si terminó de cargar y no hay categorías-->
    <h5 *ngIf="noCategories">No hay categorías</h5>
    <button *ngIf="!noCategories" class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Cargando...
    </button>
</div>
<!--Si hay categorías-->
<table #table *ngIf="!noCategories" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
    class="table-responsive mt-5 table table-hover text-center bg-light">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Creador</th>
            <th>Fecha de creación</th>
            <th>Fecha de modificación</th>
            <th>Acción/es</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories">
            <td>{{category.name}}</td>
            <td>{{category.user?.nick}}</td>
            <td>{{category.createdAt|amLocale:'es'|amCalendar}}</td>
            <td>{{category.updatedAt|amLocale:'es'|amCalendar}}</td>
            <td>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-sm-8 col-lg-6 col-xl-6">
                        <!--Si es el que creó la categoría-->
                        <a *ngIf="category.user?.id==user?.id" 
                        [routerLink]="['/user-panel/edit-category', category.name]" class="btn btn-warning w-50">
                            <img src="../../../../../../../assets/images/edit-icon.png" class="w-25"
                                alt="Imagen de editar categoría">
                            Editar
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-6 col-sm-8 col-lg-6 col-xl-6">
                        <!--Botón que abre el modal, la directiva "attr.data-target" es para
                        llamar a un elemento HTML con ese id y además almacena un dato.
                        Si es el usuario que creó la categoría o si es el usuario con el nick admin -->
                        <button type="button" *ngIf="category.user?.id==user?.id||user?.nick=='admin'" 
                        class="btn btn-danger w-50" data-toggle="modal"
                            [attr.data-target]="'#delete'+category.id">
                            <img src="../../../../../../../assets/images/delete-icon.png" class="w-25"
                                alt="Imagen de borrar categoría">
                            Borrar
                        </button>
                        <!-- Modal, el id irá sin # y con el id de la categoría-->
                        <div id="{{'delete'+category.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">¿Quieres borrar la categoría?</h4>
                                        <button type="button" class="close" data-dismiss="modal">
                                            &times;
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Vas a borrar definitivamente la categoría: {{category.name}}
                                    </div>
                                    <div class="modal-footer">
                                        <!--Para cerrar el modal cuando pulsemos hay que ponerle 
                                            el atributo "data-dismiss"-->
                                        <button (click)="deleteCategory(category.id)" data-dismiss="modal"
                                            class="btn btn-danger">
                                            Borrar
                                        </button>
                                        <button type="button" class="btn btn-info" data-dismiss="modal">
                                            Cerrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--Fin del modal-->
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>