<div id="edit" class="row text-center">
    <div class="col-xs-9 col-sm-12 col-xl-12 col-md-12 col-lg-12 offset-md-2 offset-sm-2 offset-lg-2 col-12">
        <h3>Editar categoría</h3>
        <hr>
        <h6 *ngIf="goodEdit" class="alert alert-success col-md-5 mt-3 mx-auto">
            Has editado la categoría, puedes verla <a routerLink="/user-panel/category-list">aquí</a>
        </h6>
        <flash-messages></flash-messages>
        <!--La propiedad "formGroup" asocia este formulario con una propiedad del componente. 
        En el evento submit le pasamos los valores de los campos-->
        <form [formGroup]="form" class="col-md-3 ml-0 pl-0 mx-auto">
            <label for="name">Nombre:</label>
            <!--El valor del atributo "formControlName" sirva para identificarlo Angular-->
            <input type="text" [value]="category?.name" name="name" id="name" formControlName="name" 
                class="form-control text-center">
            <span *ngIf="checkTouched(form.get('name'))" class="invalid-feedback d-block">
                {{wrongValidationMessage(form.get('name'), 'nombre')}}
            </span>     
            <!--La propiedad disabled permite poner una condición, por lo que el botón se 
            desactivará si el formulario no es válido-->
            <input type="button" value="Editar categoría" (click)="update()" [disabled]="!form.valid" 
                class="btn btn-success mt-2">
        </form>
    </div>
</div>